.kakao {
  background-color: #fee500;
  border: none;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.never {
  color: white;
  font-weight: bold;
  background-color: #09aa5c;
  border: none;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 150px;
  padding-left: 150px;
}
.new {
  background-color: #e9eefe;
  color: #245eff;
  border-radius: 4px;
  font-size: 12px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.app {
  color: #e84500;
  background-color: #fff2ee;
  border: none;
  border-radius: 4px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
}
